@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

:root {
  --fonte: "Poppins", sans-serif;
}

* {
  text-decoration: none;
  font-family: var(--fonte);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #e7eda4;
  min-width: 450px;
}

img {
  width: 100%;
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: auto;
}

nav {
  width: 100%;
  background: rgb(22, 103, 0);
  background: linear-gradient(
    45deg,
    rgba(22, 103, 0, 1) 0%,
    rgba(81, 172, 0, 1) 50%,
    rgba(14, 214, 0, 1) 100%
    );
    float: left;
  }
  
  nav img {
    float: left;
    width: 90px;
    height: 80px;
    padding-top: 10.5px;
  }
  
  nav ul {
    float: right;
  }
  
  nav ul li {
    display: inline;
    float: right;
  padding: 35.5px 20px;
}

nav ul li a {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  background-color: transparent;
  padding: 5px;
  border-radius: 15px;
  color: white;
}

nav ul li a:hover {
  background-color: #e7eda4;
  color: black;
  border-radius: 15px;
}

.container .brasao {
  margin-top: 23px;
  display: inline-block;
}

.container .brasao a {
  text-decoration: none;
}

.brasao h1 {
  color: white;
}

.brasao h5 {
  color: white;
  text-align: center;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.col-3 {
  width: 25%;
}

.col-6 {
  width: calc(50% - 10px);
  background: linear-gradient(
    45deg,
    rgba(22, 103, 0, 1) 0%,
    rgba(81, 172, 0, 1) 50%,
    rgba(14, 214, 0, 1) 100%
    );
    margin: 5px;
    border-radius: 20px;
  }
  
  .col-12 {
    width: 100%;
  }
  
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  
  footer {
    background: linear-gradient(
      45deg,
      rgba(22, 103, 0, 1) 0%,
      rgba(81, 172, 0, 1) 50%,
      rgba(14, 214, 0, 1) 100%
      );
      margin-top: 20px;
      padding-top: 10px;
      height: 100%;
      bottom: 0px;
    }
    
    footer .col-3 {
      border-left: 1px dotted white;
      padding-top: 0;
      margin: 10px 0px;
    }
    
    footer .col-3 h3 {
      color: white;
      text-align: center;
    padding-top: 0;
    font-size: 18px;
  }
  
  footer .col-3 ul li  {
    list-style: none;
  }
  
  footer .col-3 ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
  }
  
  footer .col-3 ul li a:hover {
    text-decoration: underline;
  }
  
  footer .col-12 {
    text-align: center;
  }
  
  footer .col-12 h6 {
    padding-bottom: 0px;
    color: white;
  }
  
  footer .col-12 i {
    padding-bottom: 0px;
    color: white;
  }
  
  .col-6 .pro-1 {
    position: sticky;
    visibility: hidden;
  }
  
  .col-6:hover .pro-1 {
    position: static;
    visibility: visible;
  }
  
.col-6 .pro-2 {
  position: sticky;
  visibility: hidden;
}

.col-6:hover .pro-2 {
  position: static;
  visibility: visible;
}

.col-6 .pro-3 {
  position: sticky;
  visibility: hidden;
}

.col-6:hover .pro-3 {
  position: static;
  visibility: visible;
}

.col-6 .pro-4 {
  position: sticky;
  visibility: hidden;
}

.col-6:hover .pro-4 {
  position: static;
  visibility: visible;
}

.col-6 img {
  border-radius: 20px;
}

.col-6 span img {
  width: 0.1px;
}
.col-6:hover span img {
  width: calc(50% - 3px);
}

.col-6 h1 {
  text-align: center;
  background-color: green;
  border-radius: 20px;
}

.espaço {
  margin-top: 20px;
}
